*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffe;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    background: linear-gradient(135deg, hsla(0, 0%, 95%, 1)
                 0%, hsla(0, 0%, 95%, 1) 46%,
                 hsla(357, 95%, 46%, 1) 46%,
                 hsla(357, 95%, 46%, 1) 100%);
    height: 350px;
    width: 180px;
}

.result{
    background-color: hsla(357, 95%, 46%, 1);
    width: 178px;
    height: 75px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
