@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffe;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(165deg, hsla(0, 0%, 95%, 1)
                 0%, hsla(0, 0%, 95%, 1) 46%,
                 hsla(357, 95%, 46%, 1) 46%,
                 hsla(357, 95%, 46%, 1) 100%);
    height: 350px;
    width: 253px;
    padding: 5px;
}

.result{
    background-color: hsla(357, 95%, 46%, 1);
    width: 240px;
    height: 75px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
}

.result span{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #5d5858;
}

.input{
    background-color: #fff;
    height: 276px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    border-radius: 0 0 10px 10px;
}

.input .row{
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.input .row p{
    color: #5d5858;
    background-color: #ebecee;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 7px;
}
